{% extends "sbadmin/base.html" %}
{% block body %}
		<h1 class="back">{{ counter|title }}</h1>
		<a class="back" href="/counters/{{ counter }}/">Back</a>
		<div class="back"></div>
		<form action="/counters/{{ counter }}/config/" method="POST">
			{% csrf_token %}
			<div class="form-group">
				{{ form.name.errors }}
				{{ form.name.label_tag }} {{ form.name }}
			</div>
			<div class="form-group">
				{{ form.limit.errors }}
				{{ form.limit.label_tag }} {{ form.limit}}
			</div>
			<div class="form-group">
				{{ form.unit_price.errors }}
				{{ form.unit_price.label_tag }} {{ form.unit_price }}
			</div>
			<div class="form-group">
				{{ form.currency.errors }}
				{{ form.currency.label_tag }} {{ form.currency }}
			</div>
			<button class="btn btn-primary" type="submit" title="Save this counter configuration">Save</button>
			<button class="btn btn-primary" onclick="handle_delete()" title="Delete current counter and all related records">Delete</button>
		</form>

		<script>
			function handle_delete() {
				var ok = confirm("You're about to delete the counter `{{ counter }}`.\nThis operation cannot be undone. Are you really sure?");
				if (ok) {
					var req = new XMLHttpRequest();
					req.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							document.location.href = '/counters/';
						}
					}
					req.open('GET', '/counters/{{ counter }}/delete/');
					req.send();
				}
			}
		</script>


{% endblock %}
