{% extends "sbadmin/base.html" %}
{% block extraheaders %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}
{% block body %}
		<h1 class="back">{{ counter|title }}</h1>
		<a class="back" href="javascript:history.back()">Back</a>
		<div class="back"></div>
		<div><b>Total:</b> {{ total }}</div>
		{% if total_price %}
		<div><b>Price:</b> {{ total_price }}{{ object.get_currency_display }}</div>
		{% endif %}
		<div><b>Last:</b> {% if latest_record_date %}{{ latest_record_date|date:"Y-m-d H:i:s" }}{% else %}No record yet!{% endif %}</div>
		<br>
		{% if object.incrementable %}
		<button class="btn btn-primary" onclick="handle_increment('increment')" title="Increment this counter"{% if max_value_reached %} disabled{% endif %}>Increment</button>
		{% endif %}
		{% if object.decrementable %}
		<button class="btn btn-primary" onclick="handle_increment('decrement')" title="Decrement this counter"{% if min_value_reached %} disabled{% endif %}>Decrement</button>
		{% endif %}
		{% if is_owner %}
		<button class="btn btn-primary" onclick="handle_config()" title="Edit this counter configuration">Configure</button>
		<button class="btn btn-primary" onclick="handle_records()" title="Show list of records for this counter">Records</button>
		{% endif %}
		<canvas id="chart" width="400" height="400"></canvas>
		<script>
			function handle_increment(action) {

				var req = new XMLHttpRequest();
				req.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						document.location.reload();
					}
				}
				req.open('GET', '/counters/{{ object.pk }}/' + action + '/');
				req.send();
			}

			{% if is_owner %}
			function handle_config() {
				document.location.href = '/counters/{{ object.pk }}/config/';
			}

			function handle_records() {
				document.location.href = '/counters/{{ object.pk }}/list/';
			}
			{% endif %}

			var data = {{ data|safe }};
			var labels = {{ labels|safe }};
			console.log(labels);
			var ctx = document.getElementById('chart').getContext('2d');
			var chart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: labels,
					datasets: [{
						label: '{{ counter|title }} Count',
						data: data,
						borderWidth: 1,
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true,
							ticks: {
								stepSize: 1,
							}
						}
					}
				}
			});
		</script>
{% endblock %}
