{% extends "sbadmin/base.html" %}
{% block extraheaders %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
{% endblock %}
{% block body %}
		<h1>{{ counter|title }}</h1>
		<a href="/counters/">Back</a>
		<h2>Total: {{ total }}</h2>
		<h2>Latest Record: {{ latest_record_date }}</h2>
		<button class="btn btn-primary" onclick="handle_increment()" title="Increment this counter">Increment</button>
		<button class="btn btn-primary" onclick="handle_records()" title="Show list of records for this counter">Records</button>
		<button class="btn btn-primary" onclick="handle_delete()" title="Delete current counter and all related records">Delete</button>
		<canvas id="chart" width="400" height="400"></canvas>
		<script>
			function handle_increment() {

				var req = new XMLHttpRequest();
				req.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						document.location.reload();
					}
				}
				req.open('GET', '/counters/{{ counter }}/increment/');
				req.send();
			}

			function handle_records() {
				document.location.href = '/counters/{{ counter }}/list/';
			}

			function handle_delete() {
				var ok = confirm("You're about to delete the counter `{{ counter }}`.\nThis operation cannot be undone. Are you really sure?");
				if (ok) {
					var req = new XMLHttpRequest();
					req.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							document.location.href = '/counters/';
						}
					}
					req.open('GET', '/counters/{{ counter }}/delete/');
					req.send();
				}
			}

			var data = {{ data|safe }};
			var labels = {{ labels|safe }};
			console.log(labels);
			var ctx = document.getElementById('chart').getContext('2d');
			var chart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: labels,
					datasets: [{
						label: '{{ counter|title }} Count',
						data: data,
						borderWidth: 1,
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true,
							ticks: {
								stepSize: 1,
							}
						}
					}
				}
			});
		</script>
{% endblock %}
