{% extends "sbadmin/base.html" %}
{% block body %}
		<h1>Counters</h1>
		<ul>
		{% if object_list %}
		{% for counter in object_list %}
			<li><a href="/counters/{{ counter.pk }}/">{{ counter.name|title }}: {{ counter.records }}</a></li>
		{% endfor %}
		{% else %}
			No counters
		{% endif %}
		</ul>
		<h1>Shared Counters</h1>
		<ul>
		{% if shared_counters %}
		{% for counter in shared_counters %}
			<li><a href="/counters/{{ counter.pk }}/">{{ counter.name|title }}: {{ counter.records }}</a></li>
		{% endfor %}
		{% else %}
			No shared counters
		{% endif %}
		</ul>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="input-group">
						<input type="text" id="counter" class="form-control">
						<button class="btn btn-primary" onclick="button_handler()">New Counter</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			function button_handler() {
				var counter = document.getElementById('counter').value;
				if (counter.includes('/')) {
					alert('Your new list name can\'t contain a slash character!');
				}
				else {

					var req = new XMLHttpRequest();
					req.onreadystatechange = function() {
						if (this.readyState == 4 && this.status == 200) {
							document.location.reload();
						}
					}
					req.open('GET', '/counters/new/' + counter + '/');
					req.send();
				}
			}

			document.getElementById('counter').addEventListener('keyup', function(event) {
				if (event.code === 'Enter') {
					event.preventDefault();
					button_handler();
				}
			});

		</script>
{% endblock %}
